::ng-deep h1 {
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 32px;
}

::ng-deep h2 {
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}

.next {
  margin-top: 50px;
}

.text-flex {
  min-width: 50%;
}
