<p>accueil works!</p>
<p>Bienvenue!</p>
<p>
  Les signatures de méthode ont été simplifiées (suppression de tous les
  arguments de type "Scheduler" par exemple). Toutefois, les arguments indiqués
  identifient tous les arguments obligatoires/nécessaires à l'invocation de la
  méthode (les arguments de type "Scheduler" sont facultatifs et viennent
  généralement en dernier dans les signatures de méthodes).
</p>
<p>Liens utiles:</p>
<ul>
  <li><a href="https://rxjs.dev/operator-decision-tree">Decision tree</a></li>
  <li>
    <a
      href="https://zach-gollwitzer.medium.com/how-to-read-an-rxjs-marble-diagram-f6e8dfa29781"
      >Lire un marble diagram</a
    >
  </li>
  <li>
    <a
      href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-timer"
      >Comprendre les operators</a
    >
  </li>
  <li>
    <a href="https://rxviz.com/"
      >RxViz: Visualiser du code sous forme de timeline</a
    >
  </li>
</ul>
